.blocks {
 
    padding: 4rem 0;
    @media only screen and (max-width: 675px){text-align: center;}
    

    &__h2 {
        
        font-size: $font-medium;
        padding: 2rem 0;
        margin-top: $mt;
        word-wrap: break-word;
        
    }

    &__ul {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding: 2rem 0;
        width: 100%; 
        @media only screen and (max-width: 675px){ display: block; height: auto;}
    
         } 
        

    &__li {
        color: $color-03;
        display: block;
        margin: $space-default auto;
        width: 25%;  
        @media only screen and (max-width: 675px){ display: block; height: auto; width: 50%;
            }
    } 
     
   &__links:hover{background-color: $bg-color;
                    color: $color-03;
                    font-weight: bold;
                }
        
        
    &__images {
            display: block;
            height: 200px;
            background-color: $bg-color;
          }
            
  
    

    &__links {
            background-color: $color-default;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-small;
            margin: $mt-02 auto $mb;
            padding: 1.5rem;
            text-align: center;
            text-decoration: none;
            word-wrap: break-word;
            @media only screen and (max-width: 675px){ margin-bottom: 7rem;
            }
          
            }
        
     
    
    &__images--img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
       }
    
  
        

    &__paragraph{font-size:$font-small;
    text-align: justify;}

}
     


