.header{
    &__h1 {
        color: $color-03;
        font-size: $font-big;
        margin-top: $mt;}
    &__p{
        font-size: $font-normal;
        text-align: center;
        color: $color-03;
        width: 100%;}         
        }



.desktop {

    background-color: $color-01;

    padding: $space-default;

    &__vl {
        border-left: 6px solid rgb(10, 10, 10);
        height: 250px;
        position: absolute;
        margin-left: 18%;
        @media only screen and (max-width: 517px)
        { height: 150px;}
    
      }

    &__vl2 {
        border-left: 6px solid rgb(10, 10, 10);
        height: 250px;
        position: absolute;
        margin-left: 79%;
        @media only screen and (max-width: 517px)
        { height: 150px;}
      }

   
   
    &__image--main {display: block;
        margin: auto;
        width: 50%;
        margin: $space-default auto;
    }
}


