$align: left;
$bg-color: #d6d6d6;
$color-01: #ffEE32;
$color-02: #D6D6D6;
$color-03: #202020;
$color-04: #ffd100;
$color-default: #333533;
$font-big: 4rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 3rem;
$mt: 3rem;
$mt-02: 3rem;
$space-default: 1.5rem;

$mediaphone:720px;



 